*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(#303030, #0f0f0f)
}
.container
{
    width: 400px;
    height: 700px;
    position: relative;
    background: rgba(0,0,0,.2);
    transform: rotate(-30deg) skew(25deg) scale(.8);
    margin-top: 100px
}
.container .layer
{
    position: absolute;
    width: 100%
}
.container .layer:nth-child(1)
{
    opacity: 1;
    z-index: 4
}
.container .layer:nth-child(2)
{
    opacity: .8;
    z-index: 3
}
.container .layer:nth-child(3)
{
    opacity: .6;
    z-index: 2
}
.container .layer:nth-child(4)
{
    opacity: .4;
    z-index: 1
}